*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: url('images/bgimage.jpg') no-repeat fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar{
    display: flex;

    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;

    padding: 10px;
    color: white;
    text-align: center;
    opacity: 0.8;
    
}

.navbar img{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin: 4px 10px 4px 20px;
}

.navbar a {
    font-size: 25px;
    color: goldenrod;
    text-decoration: none;
    font-weight: bold;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

@keyframes slideTop {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.weather{
    display: none;
}

.error{
    margin: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: none;
}

.main{
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 0 0 40px goldenrod;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    margin-right: 16px;
    padding: 14px 25px;
    width: 80%;
    border: none;
    border-radius: 30px;
    font-size: 18px;
}

.search button{
    width: 30%;
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.weather img{
    width: 150px;
    height: 150px;
}

.weather h1{
    font-size: 60px;
}

.weather h2{
    font-size: 50px;
}

.MoreDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    border: none;
    border-radius: 30px;
    background: linear-gradient(rgb(194, 3, 3),purple);
    color: white;
    padding: 20px;
    height: 100px;
}

.col img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 26px;
    font-weight: bold;
}

.col p{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

/* For 10 Days */

.center{
    background-color: black;
    color: goldenrod;
    text-align: center;
    padding: 10px;
    width: 100%;
    opacity: 0.8;
}
.For10days{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;

    padding: 40px 30px;

}

.TenDayForecast{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -30px 20px 70px;
    background: linear-gradient(rgb(61, 61, 255),rgb(128, 128, 128));
    height: 300px;
    width: 400px;

    border: none;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 0 20px black;
}

.MoreDetailsFor10{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}

.weatherFor10 img{
    margin-top: 10px;
    width: 70px;
    height: 70px;
}

.weatherFor10 h1{
    font-size: 20px;
}

.weatherFor10 h2{
    font-size: 22px;
}

.colFor10{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border: none;
    border-radius: 20px;
    background: linear-gradient(rgb(194, 3, 3),purple);
    color: white;
    padding: 20px;
    margin: -20px 5px 5px 5px;
}

.colFor10 img{
    width: 25px;
    margin-right: 10px;
}

.humidityFor10, .windFor10{
    font-size: 12px;
    font-weight: bold;
}

.colFor10 p{
    font-size: 12px;
    color: black;
    font-weight: bold;
}

/* Button */

.btn{
    background-color: black;
    color: goldenrod;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(221, 217, 217);
    color: black;
}

.first{
    display: none;
}